
/*
Colors used: Olive
Primary Color (Dark Blue): #023E8A
Secondary Color (Light Blue): #ADE8F4
*/

/*
Colors used: Personal
Primary Color (Tan): #DDBEA9
Secondary Color (Light Beige): #FFE8D6
*/

/*For everything, box model*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

/*For the header section*/
header {
  background-color: #DDBEA9;
  text-align: center;
  padding: 10px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4a4a4a;
}

/*For the logo*/
.logo {
  max-width: 250px;
}

/*For the hero section*/
#hero {
  background-color: #DDBEA9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center; /* Centers text */
}
#hero span {
  display: block;
}

/*For the My Work section*/
#mywork {
  background-color: #FFE8D6;
  display: inline-block;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*For the About Hero section*/
#abouthero {
  background-color:#FFE8D6;
  padding:20px 0;
}

/*For the About Footer section*/
#aboutfooter {
  background-color:#DDBEA9
}

/*For the About Main section*/
#about {
  background-color: #FFE8D6;
  overflow: hidden;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
                                      /*Olive*/
#olivemain {
background-color: #ADE8F4;
display: inline-block;
}

#olivefooter {
background-color: #FFE8D6;
display: inline-block;
}

/*For the Contact section*/
.contact {
  background-color: #DDBEA9;
  margin-top: 0px;
}

/*For the main section*/
main{
  color: B7B7A4
}

/*For the links*/
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
nav > ul > li  > a:hover {
  color: #000000;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav > ul > li  > a:visited { /* visited link */
  color: #000000;
}
nav > ul > li  > a:active { /* selected link */
  color: #000000;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

/*For adding Center Align*/
.center {
  text-align: center;
}

/*For the Icons*/
.social-icons {
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 0;
  padding: 10px 0;
}
.social-icons li {
  display: inline-block;
  width: 30px;
  margin: 0 5px
}

/* For buttons/CTA */
.button {
  display: inline-block;
  background-color: #ADE8F4;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ADE8F4;
  transition: 0.2s opacity;
}

.projectbutton {
  display: inline-block;
  text-align: center;/* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ADE8F4;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ADE8F4; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

footer {
  padding-bottom: 30px;
}

/* For animation */
/* The animation code */
@keyframes example {
  0%   {background-color: #FFE6EE;}
  25%  {background-color: #FFDBE9;}
  50%  {background-color: #ffc5cd;}
  100% {background-color: #FFB6C1;}
}

/* The element to apply the animation to */
.indexfooter {
    margin:auto;
    z-index:10;
  background-color: red;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 20px;
  background: #FFE6EE;
  padding: 20px;
  width: 300px;
  height: 65px;
}
.indexfooter p {
  margin-top: 0;
}

/* Hobbies animation tests */
.hobby{
    animation-name: hobby;
    animation-duration: 15.5s;
    /* Things added */
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    /* <--- */
}
@keyframes hobby {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
    width: 50%;
    padding: 20px 20px;
  }
  [class*="col-"] {
  float: left;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    padding: 20px 20px;
  }
  .col-lg-5 {
    width: 40%;
    padding: 20px 20px;
  }
  [class*="col-"] {
  float: left;
}
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
